.container{font-family: 'Indie Flower', cursive;
margin-top: 20px;}

h1{font-size: 50px;}

.board button{height: 60px;
  width: 60px;
  background-color: gray;
  border-radius: 50%;
  border: solid black;
  margin: 2px;}
