<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  </head>
  <body>

    <h1>Here are the users:</h1>

    {% if user_list %}
      <ol>
        {% for name in user_list %}
          <li>User Info:</li>
              <ul>
                <li>First Name: {{name.first_name}}</li>
                <li>Last Name: {{name.last_name}}</li>
                <li>Email: {{name.email}}</li>
              </ul>
        {% endfor %}
      </ol>
    {% else %}
      <p>No data found</p>
    {% endif %}

  </body>
</html>
